# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
__pycache__/
db.sqlite3
main/migrations/__pycache__/
staticfiles/
templates/
venv/
secret_key_file
